@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Work+Sans:400,500,600");
body {
  font-size: 16px;
}

.fixed-nav ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.fixed-nav ul li .fixed-nav__li__a {
  color: #141414;
}

.fixed-nav ul li .fixed-nav-li--green {
  color: #348c7b;
}

.fixed-nav ul li .fixed-nav-li--white {
  color: #fffcf1;
}

.fixed-nav ul li a {
  text-decoration: none;
}

.fixed-nav ul .nav__logo {
  font-weight: 600;
  color: #fffcf1;
}

.landing {
  font-size: 1em;
}

.landing__nav__container {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.landing__nav__container a {
  color: #141414;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-size: 1.9rem;
  text-align: center;
}

.landing__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5.5rem;
}

.landing__logo__du {
  margin-bottom: 20px;
}

.landing__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.landing__info__header {
  font-size: 3.5rem;
}

.landing__info__body {
  font-weight: 400;
  font-size: 2rem;
  margin: 0px;
}

.landing__scroll {
  color: #348c7b;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.about__top__right__li i {
  font-size: 2rem;
}

.about__top__right__li__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.about__bot__header {
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  color: #348c7b;
  font-weight: 600;
}

.about__bot__header__sub {
  font-size: 2rem;
  font-weight: 400;
}

.about__bot__body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: #141414;
  font-weight: 400;
}

.projects__panel__header {
  color: #fffcf1;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.projects__panel__header h1 {
  color: #348c7b;
  font-weight: 500;
}

.projects__panel__header h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.projects__panel__tech {
  color: #348c7b;
  font-size: 3rem;
}

.projects__panel__colours li {
  text-align: center;
  color: transparent;
}

.projects__panel__links a {
  font-size: 2.5rem;
}

.projects__panel__desc {
  color: rgba(255, 252, 241, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 1rem;
}

.contact__me__header {
  color: #fffcf1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.contact__me__email {
  color: #fffcf1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}

.contact__social__header {
  color: #fffcf1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

.fixed-nav {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: end;
}

.fixed-nav ul {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr (100px)[3];
      grid-template-columns: 1fr repeat(3, 100px);
  justify-items: end;
}

.fixed-nav ul li {
  padding: 0;
}

.fixed-nav ul li:nth-child(1) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: 85vh 15vh;
      grid-template-rows: 85vh 15vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: end;
}

.landing__nav__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.landing__info {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__scroll {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

.about__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__top__left {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__top__right__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about__top__right__li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__top__right__li i {
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__bot {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7rem 1fr;
      grid-template-rows: 7rem 1fr;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about__bot__header {
  -ms-grid-column-align: start;
      justify-self: start;
}

.about__bot__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.projects__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.projects__panel {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.projects__panel__header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects__panel__tech {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
}

.projects__panel__colours {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.projects__panel__grid {
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.fixed-nav {
  width: 100%;
  z-index: 2;
}

.fixed-nav ul {
  list-style: none;
  margin-top: 30px;
}

.fixed-nav ul li {
  position: relative;
  margin-right: 80px;
  z-index: 1;
}

.fixed-nav ul li:nth-child(1) {
  margin-left: 40px;
  margin-top: 15px;
}

.fixed-nav ul a {
  position: relative;
  padding-bottom: 10px;
}

.fixed-nav ul .nav__logo {
  background: #348c7b;
  padding: 20px;
}

.wrapper {
  width: 100%;
  height: auto;
}

.landing {
  background-color: #fffcf1;
  max-width: 100vw;
  min-height: 100vh;
}

.landing__nav {
  margin-left: 1rem;
}

.landing__nav__container {
  width: 100%;
}

.landing__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.landing__logo .social__link {
  opacity: 0;
  visibility: hidden;
}

.landing__logo__du {
  color: #fffcf1;
  background-color: #348c7b;
  padding: 6rem;
}

.landing__info__header {
  opacity: 0;
  visibility: hidden;
}

.landing__info__body {
  opacity: 0;
  visibility: hidden;
}

.landing__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.landing__scroll__bar {
  margin-top: 20px;
  width: 2px;
  height: 40px;
  background: #348c7b;
}

.about {
  background: #fffcf1;
  min-height: 100vh;
  max-width: 100vw;
}

.about__100 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 120vh;
}

.about__top__left {
  border-right: 3px #348c7b solid;
}

.about__top__left__img {
  width: 250px;
  height: 250px;
  margin-right: 5rem;
  border-radius: 50%;
}

.about__top__right__li {
  opacity: 0;
  visibility: hidden;
}

.about__top__right__list {
  list-style: none;
}

.about__bot {
  margin: 7rem 14rem 0rem 14rem;
}

.projects {
  background-color: #0f0f0f;
  overflow: scroll;
  max-height: 100vh;
  max-width: 100vw;
}

.projects__wrapper {
  width: 100%;
  min-height: 100vh;
}

.projects__panel {
  min-height: 100vh;
}

.projects__panel__header {
  margin: 40px 20px 0px 20px;
  text-align: center;
}

.projects__panel__tech {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.projects__panel__tech i {
  text-align: center;
}

.projects__panel__colours {
  width: 100%;
}

.projects__panel__colours__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects__panel__colours__list__li {
  height: 10px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__panel__desc {
  margin: 0rem 2rem 1rem 2rem;
}

.projects__panel__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.projects__panel__links a {
  color: #348c7b;
  margin: 20px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.projects__panel__links a:hover {
  color: #fffcf1;
}

.contact {
  background-color: #348c7b;
  min-height: 100vh;
  max-width: 100vw;
}

.contact__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__me__header {
  opacity: 0;
}

.contact__me__email {
  background-color: #fffcf1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 15px;
  margin-top: 20px;
  margin-right: -40px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__social__icons__link {
  opacity: 0;
  visibility: hidden;
}

.ham-bars {
  display: none;
  visibility: hidden;
}

.mobile-menu {
  display: none;
  visibility: hidden;
}

/* CSS Animations and transitions */
/* 

***** Fixed Nav transitions ****  

*/
.fixed-nav {
  opacity: 0;
}

.fixed-nav ul .nav__logo {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fixed-nav ul .fixed-nav__li--def::before {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0px;
  width: 130%;
  height: 100%;
  border-bottom: 0px solid #348c7b;
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.fixed-nav ul .fixed-nav__li--def:hover::before {
  border-bottom: 4px solid #348c7b;
}

.fixed-nav ul .fixed-nav__li--alt::before {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0px;
  width: 130%;
  height: 100%;
  border-bottom: 0px solid #fffcf1;
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.fixed-nav ul .fixed-nav__li--alt:hover::before {
  border-bottom: 4px solid #fffcf1;
}

.fixed-nav ul .fixed-nav__li--active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 800;
}

/* 

***** Fixed Nav animations ****  

*/
.fixed-nav--hide {
  -webkit-animation: fixed-nav-no-opacity 1s linear 0s 1 forwards;
          animation: fixed-nav-no-opacity 1s linear 0s 1 forwards;
}

@-webkit-keyframes fixed-nav-no-opacity {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fixed-nav-no-opacity {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fixed-nav--show {
  display: -ms-grid;
  display: grid;
  opacity: 0;
  -webkit-animation: fixed-nav-opacity 0.5s linear 0s 1 forwards;
          animation: fixed-nav-opacity 0.5s linear 0s 1 forwards;
}

@-webkit-keyframes fixed-nav-opacity {
  100% {
    opacity: 1;
  }
}

@keyframes fixed-nav-opacity {
  100% {
    opacity: 1;
  }
}

.fixed-nav__a--logocolor {
  color: #348c7b !important;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.fixed-nav__a--basecolor {
  color: #fffcf1 !important;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.nav__logo--white {
  -webkit-animation: nav__logo-white 0.2s ease-in-out 0s 1 forwards;
          animation: nav__logo-white 0.2s ease-in-out 0s 1 forwards;
}

@-webkit-keyframes nav__logo-white {
  100% {
    background: #fffcf1;
    color: #348c7b;
  }
}

@keyframes nav__logo-white {
  100% {
    background: #fffcf1;
    color: #348c7b;
  }
}

.nav__logo--green {
  -webkit-animation: nav__logo-green 0.2s ease-in-out 0s 1 forwards;
          animation: nav__logo-green 0.2s ease-in-out 0s 1 forwards;
}

@-webkit-keyframes nav__logo-green {
  0% {
    background: #fffcf1;
    color: #348c7b;
  }
  100% {
    background: #348c7b;
    color: #fffcf1;
  }
}

@keyframes nav__logo-green {
  0% {
    background: #fffcf1;
    color: #348c7b;
  }
  100% {
    background: #348c7b;
    color: #fffcf1;
  }
}

/* 

***** Landing page transitions ****  

*/
.landing .nav__container__link:hover::after {
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
  border-bottom: 4px solid #348c7b;
}

.landing .nav__container__link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -15px;
  height: 100%;
  width: 100%;
  border-bottom: 0px solid #348c7b;
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.landing .social__link {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.landing .social__link:hover {
  color: #348c7b;
  cursor: pointer;
}

/* 

***** About page transitions *****

*/
.about__top--hide {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.about__top--show {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.about__top__img--hide {
  opacity: 0;
  visibility: hidden;
}

.about__top__img--show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0.5s ease-in-out;
  transition: opacity 0.5s 0.5s ease-in-out;
}

.about__top__right__li--hide {
  opacity: 0;
  visibility: 0;
}

.about .about__top__right__li--show__0 {
  -webkit-animation: opac-show 0.5s ease-out 0.5s 1 forwards;
          animation: opac-show 0.5s ease-out 0.5s 1 forwards;
}

.about .about__top__right__li--show__1 {
  -webkit-animation: opac-show 0.5s ease-out 0.6s 1 forwards;
          animation: opac-show 0.5s ease-out 0.6s 1 forwards;
}

.about .about__top__right__li--show__2 {
  -webkit-animation: opac-show 0.5s ease-out 0.7s 1 forwards;
          animation: opac-show 0.5s ease-out 0.7s 1 forwards;
}

.about .about__top__right__li--show__3 {
  -webkit-animation: opac-show 0.5s ease-out 0.8s 1 forwards;
          animation: opac-show 0.5s ease-out 0.8s 1 forwards;
}

.about .about__top__right__li--show__4 {
  -webkit-animation: opac-show 0.5s ease-out 0.9s 1 forwards;
          animation: opac-show 0.5s ease-out 0.9s 1 forwards;
}

.about__bot__ani {
  opacity: 0;
  visibility: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.about__bot .about__bot__ani--show__0 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 0.5s ease-in-out 0.6s;
  transition: all 0.5s ease-in-out 0.6s;
}

.about__bot .about__bot__ani--show__1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 0.5s ease-in-out 0.7s;
  transition: all 0.5s ease-in-out 0.7s;
}

/* 

***** Contact page transitions *****  

*/
.contact__me__header--hide {
  visibility: hidden;
  opacity: 0;
}

.contact__me__header--show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact__me__email:hover {
  background: #141414;
}

.contact__me .contact__me__email--show {
  visibility: visible;
  color: #348c7b;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: color 0.5s ease-out 1s, background 0.2s ease-in-out, -webkit-transform 0.5s ease-out 0.5s;
  transition: color 0.5s ease-out 1s, background 0.2s ease-in-out, -webkit-transform 0.5s ease-out 0.5s;
  transition: transform 0.5s ease-out 0.5s, color 0.5s ease-out 1s, background 0.2s ease-in-out;
  transition: transform 0.5s ease-out 0.5s, color 0.5s ease-out 1s, background 0.2s ease-in-out, -webkit-transform 0.5s ease-out 0.5s;
}

.contact__social .contact__social__icons__link--show__0 {
  -webkit-animation: opac-show 0.5s ease-out 0.5s 1 forwards;
          animation: opac-show 0.5s ease-out 0.5s 1 forwards;
}

.contact__social .contact__social__icons__link--show__1 {
  -webkit-animation: opac-show 0.5s ease-out 0.6s 1 forwards;
          animation: opac-show 0.5s ease-out 0.6s 1 forwards;
}

.contact__social .contact__social__icons__link--show__2 {
  -webkit-animation: opac-show 0.5s ease-out 0.7s 1 forwards;
          animation: opac-show 0.5s ease-out 0.7s 1 forwards;
}

.contact__social .contact__social__icons__link--show__3 {
  -webkit-animation: opac-show 0.5s ease-out 0.8s 1 forwards;
          animation: opac-show 0.5s ease-out 0.8s 1 forwards;
}

.contact__social__icons__link {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.contact__social__icons__link:hover {
  color: #141414;
}

/*

***** Landing page animations ****  

*/
.landing .nav--show__1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffcf1;
  -webkit-animation: landing-nav-ani 0.5s ease-in-out 0.4s 1 forwards;
          animation: landing-nav-ani 0.5s ease-in-out 0.4s 1 forwards;
}

.landing .nav--show__2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffcf1;
  -webkit-animation: landing-nav-ani 0.5s ease-in-out 0.6s 1 forwards;
          animation: landing-nav-ani 0.5s ease-in-out 0.6s 1 forwards;
}

.landing .nav--show__3:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffcf1;
  -webkit-animation: landing-nav-ani 0.5s ease-in-out 0.8s 1 forwards;
          animation: landing-nav-ani 0.5s ease-in-out 0.8s 1 forwards;
}

.landing .social__link--show__1 {
  -webkit-animation: opac-show 0.5s ease-out 0.6s 1 forwards;
          animation: opac-show 0.5s ease-out 0.6s 1 forwards;
}

.landing .social__link--show__2 {
  -webkit-animation: opac-show 0.5s ease-out 0.7s 1 forwards;
          animation: opac-show 0.5s ease-out 0.7s 1 forwards;
}

.landing .social__link--show__3 {
  -webkit-animation: opac-show 0.5s ease-out 0.8s 1 forwards;
          animation: opac-show 0.5s ease-out 0.8s 1 forwards;
}

.landing .social__link--show__4 {
  -webkit-animation: opac-show 0.5s ease-out 0.9s 1 forwards;
          animation: opac-show 0.5s ease-out 0.9s 1 forwards;
}

.landing__logo__du {
  opacity: 0;
  -webkit-animation: opac-show 1s ease-out 0s 1 forwards;
          animation: opac-show 1s ease-out 0s 1 forwards;
}

.landing__info .info__copy--show__1 {
  -webkit-animation: opac-show 1s ease-out 0.8s 1 forwards;
          animation: opac-show 1s ease-out 0.8s 1 forwards;
}

.landing__info .info__copy--show__2 {
  -webkit-animation: opac-show 1s ease-out 0.9s 1 forwards;
          animation: opac-show 1s ease-out 0.9s 1 forwards;
}

.landing__scroll {
  -webkit-animation: opac-show 1s ease-out 0.7s 1 forwards;
          animation: opac-show 1s ease-out 0.7s 1 forwards;
}

.landing__scroll__bar:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 60px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  background: #fffcf1;
  -webkit-animation: scroll-ani 1.5s ease-in-out 0s infinite forwards;
          animation: scroll-ani 1.5s ease-in-out 0s infinite forwards;
}

@-webkit-keyframes landing-nav-ani {
  100% {
    width: 0%;
  }
}

@keyframes landing-nav-ani {
  100% {
    width: 0%;
  }
}

@-webkit-keyframes opac-show {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes opac-show {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes scroll-ani {
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    height: 85px;
  }
}

@keyframes scroll-ani {
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    height: 85px;
  }
}

/* 

***** About page animations ****  

*/
/* 

***** Contact page animations ****  

*/
.contact__me__email--hide {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.landing__logo__social {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #141414;
}

.landing__logo__social a {
  color: #141414;
}

.landing__logo__social i {
  margin: 0px 15px 0px 15px;
}

.about__top__right__li__icon {
  color: #348c7b;
  font-size: 2.5rem;
  margin: 20px;
  text-align: center;
}

.contact__social__icons {
  margin-top: 50px;
}

.contact__social__icons__link {
  text-decoration: none;
  color: #fffcf1;
  font-size: 3rem;
  margin: 30px;
}

@media (max-width: 1305px) {
  .fixed-nav__li__logo {
    margin-left: 1.2rem  !important;
    margin-top: 0.2rem !important;
  }
  .fixed-nav .nav__logo {
    padding: 1rem !important;
  }
  .fixed-nav ul li {
    margin-right: 2rem;
    padding-bottom: 0.5rem;
  }
  .landing__nav__container {
    margin-top: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 4rem;
  }
  .landing__logo__social > a {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .about__bot {
    margin: 0rem 6rem 0rem 6rem;
  }
  .fixed-nav .nav__logo {
    font-size: 1rem;
  }
  .landing__nav__container > a {
    font-size: 2rem;
  }
  .landing__info__header {
    font-size: 3rem;
  }
}

@media (max-width: 1065px) {
  .landing {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 15rem 1fr;
        grid-template-rows: 2fr 15rem 1fr;
  }
  .landing__logo {
    margin-top: 2rem  !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .landing__nav {
    margin-top: 6rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2 !important;
    -ms-grid-row-span: 1 !important;
    grid-row: 2/3 !important;
  }
  .landing__nav__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin: 0rem;
  }
  .landing__scroll {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-bottom: 5rem;
  }
  .landing__info {
    display: none;
  }
  .about__bot {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0rem 6rem 0rem 6rem;
  }
  .landing__info__header {
    font-size: 2.2rem;
  }
}

@media (min-width: 901px) {
  .fixed-nav-mobile {
    display: none;
  }
  .fixed-nav-mobile__togglebg {
    display: none;
  }
}

@media (max-width: 900px) {
  .fixed-nav {
    display: none;
  }
  .fixed-nav-mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #141414;
  }
  .fixed-nav-mobile--hide {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .fixed-nav-mobile--show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .fixed-nav-mobile__togglebg {
    position: fixed;
    z-index: 3;
    margin: 1rem 0rem 0rem 1rem;
    background: #348c7b;
    width: 3rem;
    height: 3rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fixed-nav-mobile__togglebg:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  }
  .fixed-nav-mobile__toggle {
    font-size: 1.5rem;
    color: white;
  }
  .fixed-nav-mobile__container {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .fixed-nav-mobile__container .mobile__li__a {
    position: relative;
    color: #fffcf1;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    background: #348c7b;
    padding: 1rem 3rem 1rem 3rem;
  }
  .landing__logo {
    margin-right: 0rem;
  }
  .landing__nav {
    margin-left: 0rem;
  }
  .about__100 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .about__bot {
    margin: 3rem 4rem 0rem 4rem;
  }
  .about__bot__body {
    margin-top: 1rem;
  }
  .projects__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .contact__me__email {
    margin-right: 0.5rem;
  }
  .contact__social__icons__link {
    margin: 40px;
  }
  .projects__panel__links > li > a {
    font-size: 3rem;
  }
  .contact__me {
    text-align: center;
  }
  .contact__social__icons__link {
    font-size: 3.5rem;
  }
}

@media (max-width: 755px) {
  .about__bot__body {
    margin-top: 1.5rem;
  }
}

@media (max-width: 670px) {
  .about__100 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .about__top__left__img {
    margin-right: 3rem;
    width: 220px;
    height: 220px;
  }
  .about__top__right__list {
    margin-left: 0.7rem;
  }
  .about__top__right__li__icon {
    font-size: 1.5rem !important;
  }
  .about__top__right__li__text {
    font-size: 1rem;
  }
  .about__bot__body {
    margin-top: 3rem;
  }
}

@media (max-width: 585px) {
  .landing {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 15rem 1fr;
        grid-template-rows: 2fr 15rem 1fr;
  }
  .landing__scroll {
    display: none;
  }
  .landing__nav__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .about__100 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .about__top__left__img {
    width: 200px;
    height: 200px;
    margin-right: 2rem;
  }
  .about__top__right__list {
    margin: 0rem 1rem 0rem 0rem;
  }
  .about__bot {
    margin: 1.5rem 2rem 0rem 2rem;
  }
  .about__bot__header {
    font-size: 8vw;
  }
  .about__bot__header__sub {
    font-size: 7vw;
  }
  .about__bot__body {
    margin-top: 2rem;
    font-size: 3.5vw;
  }
  .contact__social__icons__link {
    font-size: 9vw;
    margin: 30px;
  }
}

@media (max-width: 560px) {
  .about__bot__body {
    font-size: 4vw;
  }
}

@media (max-width: 450px) {
  .landing__logo {
    justify-items: center;
  }
  .landing__logo__du {
    padding: 15vw;
    font-size: 20vw;
  }
  .landing__logo__social {
    display: none;
  }
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .about__100 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .about__top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: none;
  }
  .about__top__left__img {
    display: none;
  }
  .about__top__right__li__icon {
    font-size: 2rem !important;
  }
  .about__top__right__li__text {
    font-size: 1.2rem;
  }
  .about__bot {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }
  .about__bot__header {
    font-size: 10vw;
  }
  .about__bot__header__sub {
    font-size: 8vw;
  }
  .about__bot__body {
    margin-top: 5rem;
    font-size: 5vw;
  }
  .contact__me__header {
    font-size: 9vw;
  }
  .contact__me__email {
    margin: 20px 0px 0px 0px;
    font-size: 6vw;
    padding: 4vw;
  }
  .contact__social__header {
    font-size: 8vw;
    white-space: pre-wrap;
    margin: 0rem 1rem 0rem 1rem;
  }
  .contact__social__icons__link {
    font-size: 10vw;
    margin: 25px;
  }
}
/*# sourceMappingURL=main.css.map */