@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("http://weloveiconfonts.com/api/?family=entypo");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.font-primary {
  color: #2795D3;
}

.font-secondary {
  color: #151515;
}

.font-bold {
  font-family: "Lato:400", sans-serif;
}

.font-light {
  font-family: "Lato:300", sans-serif;
}

.land-nav-proj:before {
  content: '';
  position: absolute;
  z-index: -99;
  width: 100px;
  height: 40px;
  background-color: #2795D3;
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform ease-out 0.3s;
}

.land-nav-proj:hover:before {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transform: scaleX(1);
  color: #151515;
}

.sticky-nav-active {
  animation: cur-active 1s ease-in-out forwards;
}

@keyframes cur-active {
  100% {
    padding-bottom: 10px;
  }
}

/* sticky nav */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-top: 15px;
  margin-right: 25px;
}

nav ul .nav-right {
  font-size: 20px;
  text-decoration: none;
  color: #2795D3;
  opacity: 0;
  transition: color ease-in-out 0.02s;
}

nav ul .left-nav {
  margin-right: auto;
  padding-left: 20px;
  opacity: 0;
}

nav ul .left-nav li:nth-of-type(2) {
  margin-left: 50px;
}

nav ul .left-nav li:nth-of-type(3) {
  margin-left: 100px;
}

nav ul .left-nav a {
  position: absolute;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.02s;
  transition: transform ease-in-out 0.4s;
}

nav ul .left-nav a:hover {
  transform: scale(1.1);
}

/* Landing page CSS */
#landing {
  position: relative;
  background-color: #151515;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}

#landing #name {
  position: absolute;
  width: 26.5%;
  height: 60%;
  top: 70%;
  left: 48%;
  transform: translate(-45%, -60%);
  line-height: 30px;
}

#landing #name h1 {
  opacity: 0;
  font-size: 3.5rem;
  animation: head-roll 1s ease-out 0.5s forwards;
}

#landing #name h1 span {
  margin-left: 10px;
  padding: 20px 20px;
  color: #151515;
  background-color: #2795D3;
}

#landing #name #job {
  opacity: 0;
  font-size: 2rem;
  letter-spacing: 6px;
  animation: head-roll 1s ease-out 1s forwards;
}

@keyframes head-roll {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

#landing #landing-info {
  margin-top: 60px;
  list-style: none;
  text-align: left;
  font-size: 1.4rem;
  color: #151515;
  white-space: nowrap;
}

#landing #landing-info li {
  position: relative;
  margin-top: -1px;
  height: auto;
  background-color: #2795D3;
  width: 0px;
  transition: all ease-in-out 0.2s;
}

#landing #landing-info li:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 99;
  color: #151515;
  cursor: pointer;
}

#landing #landing-info #info-1 {
  animation: info-anim 2s ease-out 1.3s forwards;
}

#landing #landing-info #info-2 {
  animation: info-anim2 2s ease-out 1.8s forwards;
}

#landing #landing-info #info-3 {
  animation: info-anim3 2s ease-out 2.1s forwards;
}

@keyframes info-anim {
  0% {
    width: 0px;
  }
  100% {
    padding-left: 8px;
    width: 90px;
  }
}

@keyframes info-anim2 {
  0% {
    width: 0px;
  }
  100% {
    padding-left: 8px;
    width: 150px;
  }
}

@keyframes info-anim3 {
  0% {
    width: 0px;
  }
  100% {
    padding-left: 8px;
    width: 250px;
  }
}

#landing #landing-nav {
  position: absolute;
  display: flex;
  left: 40%;
  top: 90%;
  transform: translate(-40%, -90%);
  list-style: none;
  opacity: 0;
  animation: fade-in 1s ease-in 2.1s forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

#landing #landing-nav li {
  display: flex;
}

#landing #landing-nav li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #2795D3;
  text-decoration: none;
  width: 100px;
  height: 40px;
  transition: color ease-in 0.3s;
}

#landing #landing-nav li a:hover {
  color: #151515;
}

.sec-filler {
  position: relative;
  z-index: -10;
  width: 100%;
  height: 15%;
  background-color: #151515;
  padding: 0;
  margin: 0;
}

.sec-filler #aboutT {
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0px;
}

/* About CSS */
#about {
  z-index: -6;
  width: 100%;
  height: 60%;
  background-color: #2795D3;
  padding: 0;
  margin: 0;
  display: flex;
}

#about #about-text {
  font-size: 1.6rem;
  align-self: center;
  list-style-type: none;
  white-space: nowrap;
  margin-left: 80px;
}

#about #about-text li {
  background-color: #151515;
  float: left;
  clear: left;
  width: auto;
  padding-right: 15px;
  padding-left: 10px;
}

#about #about-text .about-bold {
  font-weight: bold;
}

#about #about-text .about-ul-span {
  transition: all ease-in-out 0.3s;
  padding-left: 5px;
}

#about #about-text .about-ul-span:hover {
  cursor: pointer;
  color: #151515;
  background-color: #2795D3;
}

/* Projects CSS */
#projects {
  width: 100%;
  height: 100%;
  background-color: #151515;
}
