@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('http://weloveiconfonts.com/api/?family=entypo');

$primary: #2795D3;
$secondary: #151515;
$font-bold: 'Lato:400', sans-serif;
$font-light: 'Lato:300', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.font-primary {
  color: $primary;
}

.font-secondary {
  color: $secondary;
}

.font-bold {
  font-family: $font-bold;
}

.font-light {
  font-family: $font-light;
}

.land-nav-proj:before {
  content: '';
  position: absolute;
  z-index: -99;
  width: 100px;
  height: 40px;
  background-color: $primary;
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform ease-out 0.3s;
}
.land-nav-proj:hover:before {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    transform: scaleX(1);
    color: $secondary;
}

.sticky-nav-active {
  animation: cur-active 1s ease-in-out forwards;

  @keyframes cur-active {
    100%{padding-bottom: 10px};
  }
}


/* sticky nav */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
};

nav {
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;

    li {
      margin-top: 15px;
      margin-right: 25px;
    }

    .nav-right {
      font-size: 20px;
      text-decoration: none;
      color: $primary;
      opacity: 0;
      transition: color ease-in-out 0.02s;
    }

    .left-nav {
      margin-right: auto;
      padding-left: 20px;
      opacity: 0;

      li:nth-of-type(2) {
        margin-left: 50px;
      }

      li:nth-of-type(3){
        margin-left: 100px;
      }

      a {
        position: absolute;
        width: 40px;
        height: 40px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.02s;
        transition: transform ease-in-out 0.4s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* Landing page CSS */
#landing {
  position: relative;
  background-color: $secondary;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;

  #name {
    position: absolute;
    width: 26.5%;
    height: 60%;
    top: 70%;
    left: 48%;
    transform: translate(-45%, -60%);
    line-height: 30px;

    h1 {
      opacity: 0;
      font-size: 3.5rem;
      animation: head-roll 1s ease-out 0.5s forwards;

      span {
        margin-left: 10px;
        padding: 20px 20px;
        color: $secondary;
        background-color: $primary;
      }
    }

    #job {
      opacity: 0;
      font-size: 2rem;
      letter-spacing: 6px;
      animation: head-roll 1s ease-out 1s forwards;
    }
    @keyframes head-roll {
      0% {position: relative; top: -50px; opacity: 0};
      100% {position: relative; top: 0px; opacity: 1};
    }
  }

  #landing-info {
    margin-top: 60px;
    list-style: none;
    text-align: left;
    font-size: 1.4rem;
    color: $secondary;
    white-space: nowrap;

    li {
      position: relative;
      margin-top: -1px;
      height: auto;
      background-color: $primary;
      width: 0px;
      transition: all ease-in-out 0.2s;

      &:hover {
        box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
        z-index: 99;
        color: $secondary;
        cursor: pointer;
      }
    }

    #info-1 {
      animation: info-anim 2s ease-out 1.3s forwards;
    }

    #info-2 {
      animation: info-anim2 2s ease-out 1.8s forwards;
    }

    #info-3 {
      animation: info-anim3 2s ease-out 2.1s forwards;
    }

    @keyframes info-anim {
      0% {width: 0px};
      100% {padding-left: 8px; width: 90px};
    }

    @keyframes info-anim2 {
      0% {width: 0px};
      100% {padding-left: 8px; width: 150px};
    }

    @keyframes info-anim3 {
      0% {width: 0px};
      100% {padding-left: 8px; width: 250px};
    }
  }

  #landing-nav {
    position: absolute;
    display: flex;
    left: 40%;
    top: 90%;
    transform: translate(-40%, -90%);
    list-style: none;
    opacity: 0;
    animation: fade-in 1s ease-in 2.1s forwards;

    @keyframes fade-in {
       100% {opacity: 1};
    }

    li {
      display: flex;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        text-decoration: none;
        width: 100px;
        height: 40px;
        transition: color ease-in 0.3s;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

.sec-filler {
  position: relative;
  z-index: -10;
  width: 100%;
  height: 15%;
  background-color: $secondary;
  padding: 0;
  margin: 0;

    #aboutT {
      position: absolute;
      width: 100%;
      height: 5%;
      bottom: 0px;
    }

}

/* About CSS */

#about {
  z-index: -6;
  width: 100%;
  height: 60%;
  background-color: $primary;
  padding: 0;
  margin: 0;
  display: flex;
  #about-text {
    font-size: 1.6rem;
    align-self: center;
    list-style-type: none;
    white-space: nowrap;
    margin-left: 80px;

    li {
      background-color: $secondary;
      float: left;
      clear: left;
      width: auto;
      padding-right: 15px;
      padding-left: 10px;
    }

    .about-bold {
      font-weight: bold;
    }

    .about-ul-span {
      transition: all ease-in-out 0.3s;
      padding-left: 5px;
      &:hover {
        cursor: pointer;
        color: $secondary;
        background-color: $primary
      }
    }
  }

}

/* Projects CSS */

#projects {
  width: 100%;
  height: 100%;
  background-color: $secondary;
}
