/* CSS Animations and transitions */

/* 

***** Fixed Nav transitions ****  

*/
.fixed-nav {
    opacity: 0;
    ul {

        .nav__logo {
            transition: all 0.5s ease-in-out;
        }

        .fixed-nav__li--def::before {
            content: "";
            position: absolute;
            left: -6px;
            bottom: 0px;
            width: 130%;
            height: 100%;
            border-bottom: 0px solid $logo-color;
            transition: border-bottom 0.1s ease-in-out
        }

        .fixed-nav__li--def:hover::before {
            border-bottom: 4px solid $logo-color;
        }

        // When fixed nav is on contact page
        .fixed-nav__li--alt::before {
            content: "";
            position: absolute;
            left: -6px;
            bottom: 0px;
            width: 130%;
            height: 100%;
            border-bottom: 0px solid $base-color;
            transition: border-bottom 0.1s ease-in-out
        }

        .fixed-nav__li--alt:hover::before {
            border-bottom: 4px solid $base-color;
        }

        // Indicate which page is currently active on fixed nav
        .fixed-nav__li--active {
            transition: all 0.2s ease-in-out;
            font-weight: 800;
        }
    }
}

/* 

***** Fixed Nav animations ****  

*/
// Class used to HIDE fixed nav 
.fixed-nav--hide {
    animation: fixed-nav-no-opacity 1s linear 0s 1 forwards;
}

@keyframes fixed-nav-no-opacity {
    100% {opacity: 0; visibility: hidden;}        
}

// Class used to SHOW fixed nav
.fixed-nav--show {
    display: grid;
    opacity: 0;

    animation: fixed-nav-opacity 0.5s linear 0s 1 forwards;
}

@keyframes fixed-nav-opacity {
    100% {opacity: 1}        
}

// Change color of link when reaching projects section
.fixed-nav__a--logocolor{
    color: $logo-color !important;
    transition: color 0.2s ease-in-out;
}

// Change color of link when reaching projects section
.fixed-nav__a--basecolor{
    color: $base-color !important;
    transition: color 0.2s ease-in-out;
}

// Change the logo on the fixed nav to WHITE
.nav__logo--white {
    animation: nav__logo-white 0.2s ease-in-out 0s 1 forwards;
}

@keyframes nav__logo-white {
    100%{background: $base-color; color: $logo-color;};
}

// Change the logo on the fixed nav to GREEN
.nav__logo--green {
    animation: nav__logo-green 0.2s ease-in-out 0s 1 forwards;
}

@keyframes nav__logo-green {
    0%{background: $base-color; color: $logo-color;}
    100%{background: $logo-color; color: $base-color;};
}

//  TRANSITIONS

/* 

***** Landing page transitions ****  

*/
.landing {

    .nav__container__link:hover::after {
        transition: border-bottom 0.1s ease-in-out;
        border-bottom: 4px solid $logo-color;
    }

    .nav__container__link::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -15px;
        height: 100%;
        width: 100%;
        border-bottom: 0px solid $logo-color;
        transition: border-bottom 0.1s ease-in-out;
    }

    .social__link {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $logo-color;
            cursor: pointer;
        }
    }
}

/* 

***** About page transitions *****

*/

.about {

    // about__top transitions
    &__top--hide {
        transform: scaleY(0);
    }

    &__top--show {
        transform: scaleY(1);
        transition: transform 0.5s ease-in-out;
    }

    &__top__img--hide {
        opacity: 0;
        visibility: hidden;
    }

    &__top__img--show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s 0.5s ease-in-out;
    }

    &__top__right__li--hide {
        opacity: 0;
        visibility: 0;
    }

    @include staggered-show(0, 4, 0.5, 0.5, '.about__top__right__li--show__');

    // About bottom transitions
    &__bot {
        &__ani {
            opacity: 0;
            visibility: 0;
            transform: translateY(-1rem);
        }

        @for $i from 0 through 1 {
            $delayFin: 0.6 + ($i * 0.1) + s; 
            .about__bot__ani--show__#{$i} {
                opacity: 1;
                visibility: 1;
                transform: translateY(0rem);
                transition: all 0.5s ease-in-out $delayFin;
            }
        }
    }
}


/* 

***** Contact page transitions *****  

*/
.contact {

    // Email 
    &__me {

        &__header--hide {
            visibility: hidden;
            opacity: 0;
        }

        &__header--show {
            visibility: visible;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        &__email:hover {
            background: $sec-color;
        }

        .contact__me__email--show {
            visibility: visible;
            color: $logo-color;
            transform: scaleY(1);
            transform-origin: 100% 0%;
            transition: transform 0.5s ease-out 0.5s, color 0.5s ease-out 1s, background 0.2s ease-in-out;
        }
    }
    
    // Social media icons
    &__social {

        @include staggered-show(0, 3, 0.5, 0.5, '.contact__social__icons__link--show__');

        &__icons {

            &__link{ 
                transition: color 0.2s ease-in-out
            }

            &__link:hover { 
                color: $sec-color;
            }
        }
    }
    
}

//  ANIMATIONS

/*

***** Landing page animations ****  

*/
.landing {

    // nav reveal
    @for $i from 1 through 3 {
        $delay: 0.2 + ($i * 0.2) + s;
        .nav--show__#{$i}:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $base-color;
            animation: landing-nav-ani 0.5s ease-in-out $delay 1 forwards;
        }
    }

    // Social media icon transition for opacity on LANDING page
    @include staggered-show(1, 4, 0.5, 0.5, ".social__link--show__");

    // Logo opacity
    &__logo__du {
        opacity: 0;
        animation: opac-show 1s ease-out 0s 1 forwards;
    }

    // Information opacity transition
    &__info {
        @include staggered-show(1, 2, 0.7, 1, ".info__copy--show__");
    }

    // Scroll indicator 
    &__scroll {
        
        animation: opac-show 1s ease-out 0.7s 1 forwards;

        &__bar:before {
            content: '';
            position: absolute;
            width: 2px;
            height: 60px;
            transform: scaleY(1);
            background: $base-color;
            animation: scroll-ani 1.5s ease-in-out 0s infinite forwards;
        }
    }
}

// Keyframes used to do the pan reveal of navigation on landing page
@keyframes landing-nav-ani {
    100% {width: 0%;}
}

// Set opacity to 1 
@keyframes opac-show {
    0%  {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}

// // Staggered opacity to 1 on social media icons on landing
// @keyframes soc-link-show {
//     100% {visibility: visible; opacity: 1;}
// }

// Animate scroll bar to indicate scrolling past landing page
@keyframes scroll-ani {
    100% {transform: scaleY(0); transform-origin: 0% 100%; height: 85px;}
}

/* 

***** About page animations ****  

*/

// .about{
    
// }

/* 

***** Contact page animations ****  

*/
.contact {

    // Email contact section
    &__me {

    &__email--hide {
            transform: scaleY(0);
            transform-origin: 50% 0%;
        }
    }

    // Social media section
    &__social {

       //icons
    }
}
