// GLOBAL VARIABLES

// Colors 
$base-color: #fffcf1;
$sec-color: #141414;
$logo-color: #f80031; 

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;

// Fonts
$base-font-family:  'Montserrat', sans-serif;
$sec-font-family:  'Work Sans', sans-serif; 