@media(max-width: 1305px) {
    // Grid/General changes

    .fixed-nav {

        &__li__logo {
            margin-left: 1.2rem  !important;
            margin-top: 0.2rem !important; 
        }

        .nav__logo {
            padding: 1rem !important;
        }

        ul {
            
            li {
                margin-right: 2rem;
                padding-bottom: 0.5rem;
            }
        }
    }

    .landing {

        &__nav {
            
            &__container {
                margin-top: 2rem;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-gap: 4rem;
            }
        }

        &__logo {

            &__social > a { 
                margin-right: 0.5rem;
                margin-bottom: 1rem;
            }
        }
    }

    .about {

        &__bot {
            margin: 0rem 6rem 0rem 6rem;
        }
    }

    // Typography changes
    .fixed-nav {
        
        .nav__logo {
            font-size: 1rem;
        }
    }

    .landing {

        &__nav {
            
            &__container > a {
                font-size: 2rem;
            }
        }

        &__info {

            &__header {
                font-size: 3rem;
            }
        }
    }
}

@media(max-width: 1065px) {
    // Grid/General changes
    .landing {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 15rem 1fr;

        &__logo {
            margin-top: 2rem  !important;
            grid-row: 1/2;
        }

        &__nav {
            margin-top: 6rem;
            align-self: center;
            grid-row: 2/3 !important;
            
            &__container {
                grid-template-columns: repeat(3, 1fr);
                margin: 0rem;
            }
        }

        &__scroll {
            grid-row: 3/4;
            margin-bottom: 5rem;
        }
        
        &__info {
            display: none;
        }
    }

    .about {

        &__bot {
            align-items: start;
            margin: 0rem 6rem 0rem 6rem;
        }
    }


    // Typography changes
    .landing {

        &__info{

            &__header {
                font-size: 2.2rem;
            }
        }
    }
}

// Hide the hamburger menu when above 901px width
@media(min-width: 901px) {
    .fixed-nav-mobile {
        display: none;

        &__togglebg {
            display: none;
        }
    }
}

@media(max-width: 900px) {
    // Grid/General  changes

    // Hide fixed-nav
    .fixed-nav {
        display: none;
    }

    // Mobile hamburger menu
    .fixed-nav-mobile {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: $sec-color;

        &--hide {
            opacity: 0;
            visibility: hidden;
            // animation: hamhide 0.5s ease-in-out 0s forwards;
            transition: all 0.5s ease-in-out;
        }

        &--show {
            opacity: 1;
            visibility: visible;
            transition: all 0.5s ease-in-out;
        }

        &__togglebg {
            position: fixed;
            z-index: 3;
            margin: 1rem 0rem 0rem 1rem;
            background: $logo-color;        
            width: 3rem;
            height: 3rem;
            transition: all 0.2s ease-in-out;
            display: grid;
            justify-items: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
                transition: box-shadow 0.2s ease-in-out;
            }
        }

        &__toggle {
            font-size: 1.5rem;
            color: white;
        }

        &__container {
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: repeat(4, 1fr);
            align-items: center;
            justify-items: center;

            .mobile__li__a {
                position: relative;
                color: $base-color;
                text-decoration: none;
                font-size: 1.5rem;
                font-family: $base-font-family;
                background: $logo-color;
                padding: 1rem 3rem 1rem 3rem;
            }
        }
    }

    .landing {

        &__logo {
            margin-right: 0rem;
        }

        &__nav {
            margin-left: 0rem;
        }
    }

    .about {

        &__100  {
            align-self: start;
        }
        
        &__bot {
            margin: 3rem 4rem 0rem 4rem;

            &__body {
                margin-top: 1rem;
            }
        }
    }

    .projects {
        
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &__me {
            
            &__email {
                margin-right: 0.5rem;
            }
        }

        &__social {

            &__icons__link {
                margin: 40px;
            }
        }
    }

    // Typography changes
    .projects {

        &__panel {

            &__links > li > a {
                font-size: 3rem;
            }
        }
    }

    .contact {
        &__me {
            text-align: center
        }

        &__social {

            &__icons__link {
                font-size: 3.5rem;
            }
        }
    }
}

@media(max-width: 755px) {
    .about {

        &__bot {

            &__body {
                margin-top: 1.5rem;
            }
        }
    }
}

@media(max-width: 670px) {
    .about {

        &__100 {
            align-self: start;
        }

        &__top {
            
            &__left__img {
                margin-right: 3rem;
                width: 220px;
                height: 220px
            }

            &__right__list {
                margin-left: 0.7rem;
            }

            &__right__li {
                
                &__icon {
                    font-size: 1.5rem !important;
                }

                &__text {
                    font-size: 1rem;
                }
            }
        }

        &__bot {

            &__body {
                margin-top: 3rem;
            }
        }
    }
}

@media(max-width: 585px) {
    .landing {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 15rem 1fr;

        &__scroll {
            display: none;
        }

        &__nav {

            &__container {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }

    .about {

        &__100 {
            align-self: start;
        }

        &__top {

            &__left__img {
                width: 200px;
                height: 200px;
                margin-right: 2rem;
            }

            &__right__list {
                margin: 0rem 1rem 0rem 0rem;
            }
        }

        &__bot {
            margin: 1.5rem 2rem 0rem 2rem;

            &__header {
                font-size: 8vw;

                &__sub {
                    font-size: 7vw;
                }
            }

            &__body {
                margin-top: 2rem;
                font-size: 3.5vw;
            }
        }
    }

    .contact {

        &__social {

            &__icons__link {
                font-size: 9vw;
                margin: 30px;
            }
        }
    }
}

@media(max-width: 560px) {
    .about {

        &__bot {

            &__body {
                font-size: 4vw;
            }
        }
    }
}

@media(max-width: 450px) {
    .landing {

        &__logo {
            justify-items: center ;

            &__du {
                padding: 15vw;
                font-size: 20vw;
            }

            &__social {
                display: none;
            }
        }
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &__100 {
            align-self: start;
        }

        &__top {
            grid-template-columns: 1fr;
            justify-items: center;
            align-self: center;
            display: none;

            &__left__img {
                display: none;
            }

            &__right__li {

                &__icon {
                    font-size: 2rem !important;
                }

                &__text {
                    font-size: 1.2rem;
                }
            }
        }

        &__bot {
            margin: 0rem 1.5rem 0rem 1.5rem;

            &__header{
                font-size: 10vw;

                &__sub {
                    font-size: 8vw;
                }
            }

            &__body {
                margin-top: 5rem;
                font-size: 5vw;
            }
        }
    }

    .contact {

        &__me {

            &__header {
                font-size: 9vw;
            }

            &__email {
                margin: 20px 0px 0px 0px;
                font-size: 6vw;
                padding: 4vw;
            }
        }

        &__social {

            &__header {
                font-size: 8vw;
                white-space: pre-wrap;
                margin: 0rem 1rem 0rem 1rem;
            }


            &__icons__link {
                font-size: 10vw;
                margin: 25px;
            }
        }
    }
}
