// body properties$

body {
    margin: 0;
    padding: 0;
}

// Sticky nav 
.fixed-nav {
    width: 100%;
    
    ul {
        list-style: none;
        margin-top: 30px;

        li {
            position: relative;
            margin-right: 80px;
            z-index: 1;
        }

        li:nth-child(1) {
            margin-left: 40px;
            margin-top: 15px;
        }

        a {
            position: relative;
            padding-bottom: 10px;
        }

        .nav__logo {
            background: $logo-color;
            padding: 20px;
        }
    }
}

// Landing page
.landing {
    background-color: $base-color;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__du {
            color: $base-color;
            background-color: $logo-color;
            padding: 6rem;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
    
    &__scroll {
        display: flex;
        justify-content: center;
    }
}

// About page
.about {
    background-color: $base-color;

    &__top__left {
        display: flex; 
        justify-content: flex-end;
        align-items: center;

        &__img {
            background-color: $logo-color;
            height: 250px;
            width: 250px;
            border-radius: 500%;
            margin-right: 10%;   
        }
    }

    &__top__right {
        display: flex;
        align-items: center;
        border-left: 5px solid $logo-color;
        
        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;

           i {
               margin-right: 40px;
               font-size: 2rem;
           }
        }
    }

    &__bot__left {
        margin-top: 50px;
        margin-right: 30px;
        margin-left: 80px;
    }

    &__bot__right {
        display: flex;
        margin-top: 40px;
        align-items: center;
        margin-right: 80px;
        margin-left: 30px;

        &__body {
            margin-bottom: 100px;
        }
    }
}

// Projects page
.projects {
    background-color: $sec-color;
}

// Contact page
.contact {
    background-color: $logo-color;

    &__me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__email {
            background-color: $base-color;
            width: max-content;
            height: auto;
            padding: 15px;
            margin-top: 20px;
            margin-right: -40px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}