// body properties$

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// Sticky nav 
.fixed-nav {
    width: 100%;
    z-index: 2;
    
    ul {
        list-style: none;
        margin-top: 30px;

        li {
            position: relative;
            margin-right: 80px;
            z-index: 1;
        }

        li:nth-child(1) {
            margin-left: 40px;
            margin-top: 15px;
        }

        a {
            position: relative;
            padding-bottom: 10px;
        }

        .nav__logo {
            background: $logo-color;
            padding: 20px;
        }
    }
}

.wrapper {
    width: 100%;
    height: auto;
}

// Landing page
.landing {
    background-color: $base-color;

    &__nav {
        margin-left: 1rem;

        &__container {
            width: 100%;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        .social__link {
            opacity: 0;
            visibility: hidden;
        }

        &__du {
            color: $base-color;
            background-color: $logo-color;
            padding: 6rem;
        }
    }

    &__info {

        &__header {
            opacity: 0;
            visibility: hidden;
        }

        &__body {
            opacity: 0;
            visibility: hidden;
        }
    }
    
    &__scroll {
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;

        &__bar {
            margin-top: 20px;
            width: 2px;
            height: 40px;
            background: $logo-color;
        }
    }
}

// About page
.about {
    background: $base-color;
    min-height: 100vh;

    &__top__left { 
        border-right: 3px $logo-color solid;

        &__img {
            width: 250px;
            height: 250px;
            margin-right: 5rem;
            border-radius: 50%;
        }
    }

    &__top__right {

        &__li {
            opacity: 0;
            visibility: hidden;
        }

        &__list {
            list-style: none;
        }
    }

    &__bot {
        margin: 0rem 14rem 0rem 14rem;
    }
}

// Projects page
.projects {
    background-color: #0f0f0f;
    min-height: 100vh;
    overflow: auto;

    &__wrapper {
        width: 100%;
        min-height: 100%;
    }

    &__panel {
        min-height: 100vh;

        &__header {
            margin: 40px 20px 0px 20px;
            text-align: center;
        }

        &__tech {
            margin: 0px;
            padding: 0px;
            list-style: none;

            i {
                text-align: center;
            }
        }

        &__colours {
            width: 100%;

            &__list {
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 0;
                padding: 0;

                &__li {
                    height: 10px;
                    transform-origin: 50% 100%;
                    transition: all 0.5s ease-in-out;
                }
            }
        }

        &__desc {
            margin: 0rem 2rem 1rem 2rem;
        }

        &__links {
            list-style: none;
            display: flex;
            flex-direction: row;
            margin: 0px;
            padding: 0px;

            a { 
                color: $logo-color;
                margin: 20px;
                text-decoration: none;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $base-color;
                }
            }
        }
    }
}

// Contact page
.contact {
    background-color: $logo-color;
    min-height: 100vh;

    &__me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__header {
            opacity: 0;
        }

        &__email {
            background-color: $base-color;
            width: max-content;
            height: auto;
            padding: 15px;
            margin-top: 20px;
            margin-right: -40px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__icons {
            
            &__link {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.ham-bars {
    display: none;
    visibility: hidden;
}

.mobile-menu {
    display: none;
    visibility: hidden;
}