// Setting base typography styling
body {
    font-size: 16px;
}

// Sticky nav 
.fixed-nav {
    
    ul {
        font-family: $base-font-family;
        font-weight: $regular;

        li {

            .fixed-nav__li__a {
                color: $sec-color;
            }
            .fixed-nav-li--green {
                color: $logo-color;
            }

            .fixed-nav-li--white {
                color: $base-color;
            }

            a {
                
                text-decoration: none;
            }
        }

        .nav__logo {
            font-weight: $semi-bold;
            color: $base-color;
        }
    }
}

// Landiing page typography
.landing {
    font-size: 1em;

    // Navigator on landing page
    &__nav {
        &__container {
            font-family: $base-font-family;
            font-weight: $semi-bold;

            a {
                color: $sec-color;
                text-decoration: none;
                position: relative;
                z-index: 1;
                font-size: 1.9rem;
                text-align: center;
            }
        }
    }

    // Logo and social icons on landing page
    &__logo {
        font-family: $base-font-family;
        font-weight: $semi-bold;
        font-size: 5.5rem;


        &__du {
            margin-bottom: 20px;
        }
    }

    // Information section of landing page
    &__info {
        font-family: $base-font-family;
        font-weight: $semi-bold;

        &__header {
            font-size: 3.5rem;
        }

        &__body {
            font-weight: $regular;
            font-size: 2rem;
            margin: 0px;
        }
    }

    // Scroll down indicator on landing page
    &__scroll {
        color: $logo-color;
        font-family: $base-font-family;
        font-weight: $regular;
        font-size: 1.5rem;
    }
}

// About page typography
.about {

    &__top__right__li {

        i {
            font-size: 2rem;
        }
        
        &__text {
            font-family: $base-font-family;
            font-size: 1.2rem;
        }
    }

    &__bot {
        
        &__header {
            font-size: 3rem;
            font-family: $sec-font-family;
            color: $logo-color;
            font-weight: $semi-bold;

            &__sub {
                font-size: 2rem;
                font-weight: $regular;
            }
        }

        &__body {
            font-size: 1.2rem;
            font-family: $sec-font-family;
            color: $sec-color;
            font-weight: $regular;
        }
    }
}

// Project page typography
.projects {

    &__panel {

        &__header {
            color: $base-color;
            font-family: $sec-font-family;
            text-align: center;

            h1 {
                color: $logo-color;
                font-weight: $medium;
            }

            h3 {
                font-size: 1.1rem;
                font-weight: $regular;
            }
        }

        &__tech {
            color: $logo-color;
            font-size: 3rem;
        }

        &__colours {
            li {
                text-align: center;
                color: transparent;
            }
        }

        &__links {
            
            a {
                font-size: 2.5rem;
            }
        }

        &__desc {
            color: rgba($base-color, 0.6);
            font-family: $base-font-family;
            font-weight: $regular;
            text-align: justify;
            font-size: 1rem;
        }
    }
}

// Contact page typography
.contact {
    
    // Contact form ******TODO******
    &__me {

        &__header {
            color: $base-color;
            font-family: $base-font-family;
            font-weight: $semi-bold;
            font-size: 3rem;
        }

        &__email {
            color: $logo-color;
            font-family: $base-font-family;
            font-weight: $medium;
            font-size: 2rem;
            text-decoration: none;
        }
    }

    // Social links 
    &__social {

        &__header {
            color: $base-color;
            font-family: $base-font-family;
            font-weight: $regular;
            font-size: 2rem;
        }
    }
}   