// Setting base typography styling
body {
    font-size: 16px;
}

// Sticky nav 
.fixed-nav {
    
    ul {
        font-family: $base-font-family;
        font-weight: $medium;

        li {

            .fixed-nav__li__a {
                color: $sec-color;
            }
            .fixed-nav-li--green {
                color: $logo-color;
            }

            .fixed-nav-li--white {
                color: $base-color;
            }

            a {
                
                text-decoration: none;
            }
        }

        .nav__logo {
            font-weight: $semi-bold;
            color: $base-color;
        }
    }
}

// Landiing page typography
.landing {
    font-size: 1em;

    // Navigator on landing page
    &__nav {
        &__container {
            font-family: $base-font-family;
            font-weight: $semi-bold;

            a {
                color: $sec-color;
                text-decoration: none;
                position: relative;
                z-index: 1;
                font-size: 1.9rem;
                margin: 0px 30px 0px 30px;
            }
        }
    }

    // Logo and social icons on landing page
    &__logo {
        font-family: $base-font-family;
        font-weight: $semi-bold;
        font-size: 5.5rem;


        &__du {
            margin-bottom: 20px;
        }
    }

    // Information section of landing page
    &__info {
        font-family: $base-font-family;
        font-weight: $semi-bold;

        &__header {
            font-size: 3.5rem;
        }

        &__body {
            font-weight: $regular;
            font-size: 2rem;
            margin: 0px;
        }
    }

    // Scroll down indicator on landing page
    &__scroll {
        color: $logo-color;
        font-family: $base-font-family;
        font-weight: $regular;
        font-size: 1.5rem;
    }
}

// About page typography
.about {
    &__top__left {

        &__img {
            color: $base-color;
            font-size: 5rem;
        }
    }

    // Bullet point list
    &__top__right {

        // li's text styling
        &__li__text {
            color: $sec-color;
            font-family: $base-font-family;
            font-weight: $medium;
            font-size: 1.5rem;
            text-align: left;
        }
    }

    // Left paragraph and header + subheader
    &__bot__left {
        
        &__header {
            color: $logo-color;
            font-family: $base-font-family;
            font-size: 3rem;
            font-weight: $semi-bold;

            &__sub {
                font-size: 1.8rem;
                font-weight: $medium;
            }
        }

        &__body {
            color: $sec-color;
            font-family: $sec-font-family;
            font-size: 1.3rem;
            font-weight: $medium;
        }
    }   

    // Right paragraph
    &__bot__right {
        color: $sec-color;
        font-family: $sec-font-family;
        font-size: 1.3rem;
        font-weight: $medium;
    }
}

// Contact page typography
.contact {
    
    // Contact form ******TODO******
    &__me {

        &__header {
            color: $base-color;
            font-family: $base-font-family;
            font-weight: $semi-bold;
            font-size: 3rem;
        }

        &__email {
            color: $logo-color;
            font-family: $base-font-family;
            font-weight: $medium;
            font-size: 2rem;

        }
    }

    // Social links 
    &__social {

        &__header {
            color: $base-color;
            font-family: $base-font-family;
            font-weight: $regular;
            font-size: 2rem;
        }
    }
}   